# See https://help.github.com/ignore-files/ for more about ignoring files.

# node server files
server/node_modules
server/build

# env variables
**/config.json

# credentials
**/cs-credentials.json

# misc
.DS_Store
.vscode
.idea

npm-debug.log*
